#contact {
    color: #EEEEEE;
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

#contact p {
    max-width: 600px;
    margin: 0 auto 40px;
    font-size: 1.2em;
}

#contact .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

#contact .contact-item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

#contact .icon {
    font-size: 2em;
    margin-right: 15px;
    color: #76ABAE;
}

#contact .contact-label {
    font-weight: bold;
    margin-bottom: 20px;
}

#contact .contact-link {
    color: #76ABAE;
    text-decoration: none;
}

#contact .contact-link:hover {
    text-decoration: underline;
}