footer {
  text-align: center;
  padding: 20px;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  font-size: 14px;
  transition: 0.2s;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  footer {
    padding-bottom: 90px;
  }
}