.rs-theme-dark, :root {
  --rs-primary-50: #edfffe;
  --rs-primary-100: #d3f0ef;
  --rs-primary-200: #b8dede;
  --rs-primary-300: #a1cecf;
  --rs-primary-400: #8abbbd;
  --rs-primary-500: #76abad;
  --rs-primary-600: #56a3a8;
  --rs-primary-700: #36959e;
  --rs-primary-800: #18838f;
  --rs-primary-900: #006c7a;
  
  --rs-bg-overlay: #222831;

  --primary-dark: #3b4049;
  --primary-light: #31363F;
  --accent-gradient-start: #76ABAE;
  --accent-gradient-end: #FFB0B0;
  --link-hover: #609598;
  --tech-bg: #4A4F59;

  /* Text Colors */
  --text-primary: #eee;
  --text-secondary: #bdbdbd;

  /* Shadows */
  --box-shadow-light: rgba(0, 0, 0, 0.3);
  --box-shadow-dark: rgba(0, 0, 0, 0.5);

  --accent: var(--rs-primary-600);
  --accent-hover: var(--rs-primary-500);
  --color-primary: #222831;
  --color-secondary: #31363F;
  --color-tertiary: #EEEEEE;
  --color-primary-darker: #171c22;
  --color-primary-blur: rgba(34, 40, 49, 0.1);
  --color-header-blur: rgba(255, 255, 255, 0.1);
  --color-box-shadow: rgba(0, 0, 0, 0.1);
  --color-white: #ffffff;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

.App {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-primary);
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, var(--accent-gradient-start), var(--accent-gradient-end));
  z-index: 1;
}

input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
}

section {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; 
  padding: 0px;
  text-align: center;
  color: var(--color-tertiary);
}

button {
  background-color: var(--accent);
  color: var(--color-tertiary);
  border: none;
}

button:hover {
  background-color: var(--accent-hover);
}

.hero,
#projects,
#contact {
  background-color: var(--color-primary);
  padding: 0px 20px;
}

#about {
  background-color: var(--color-secondary);
  padding: 0px 20px;
  text-align: center;
}