:root {
  --accent: #76ABAE;
  --accent-hover: #76abaec2;
  --color-primary: #222831;
  --color-secondary: #31363F;
  --color-tertiary: #EEEEEE;
  --color-primary-darker: #171c22;
  --color-primary-blur: rgba(34, 40, 49, 0.1);
  --color-header-blur: rgba(255, 255, 255, 0.1);
  --color-box-shadow: rgba(0, 0, 0, 0.1);
  --color-white: #ffffff;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

.App {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-primary);
}

input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
}

section {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; 
  padding: 0px;
  text-align: center;
  color: var(--color-tertiary);
}

button {
  background-color: var(--accent);
  color: var(--color-tertiary);
  border: none;
}

button:hover {
  background-color: var(--accent-hover);
}

.hero,
#projects,
#contact {
  background-color: var(--color-primary);
  padding: 0px 20px;
}

#about {
  background-color: var(--color-secondary);
  padding: 0px 20px;
  text-align: center;
}